
body {
text-align: center;
height: 100%;
font-family: monospace;
}


#top {
background-color: #FFFFFF;
margin-left: 100px;
}

#barretta {
background-color: #252525;
font-family: monospace;
color: #FFFFFF;
padding-top: 5px;
padding-bottom: 10px;
}

div.menu{
    width: 100%;
    height: auto;
    top: 50%;
    left:50%;
    color: white;
    text-align: center;
}


li.menu-list{
    display: inline;
    text-transform: capitalize;
    font-size: 15;
    font-family: monospace;
    margin: 0px 30px 0px;
    border-bottom: 0px solid #6699FF;
}
li.menu-list:hover{
    border-bottom: 0px solid #6699FF;
    color:#6699FF;
    transition: .1s;
    transition-timing-function: cubic-bezier(.51, .23, .74, 1.52);
}


#middle {
background-color: #CCFFFF;
width: 100%;
float: left;
height: 100%;
margin: 0px;
}

.menu {
font-family: monospace;
font-size: 12px;
font-weight: bold;
color: #000000;
background-color: #FFFFFF;
}

.menu a {
font-family: monospace;
font-size: 12px;
font-weight: bold;
color: #000000;
text-decoration: none;
background-color: #6699FF;
width: auto;
}

.menu a:hover {
background-color: #000000;
color: white;
}

#contenuto {
font-family: monospace;
font-size: 12px;
color: #000000;
background-color: #FFFF00;
width: 90%;
margin-right: 15px;
margin-left: 15px;
margin-top: 15px;
}
