
body{
height: 100%;
font-family: monospace;
}

#top{
    text-align: center;
    font-family: monospace;
    color: #0136a0;
    font-size: 20;
    border-bottom: 1px solid #0136a0;
    width: 100%;
    font-weight: bold;
    font-style: italic;
    height: 10%;
}

div.logo{
    float:left;
    width: 20%;
}

div.top-scolastico{
    width: 80%;
    padding-left: 294px;
    padding-top: 28px;
}

div.top-contatti{
    float: right;
}

a:link{
    font-family: monospace;
    color: #0136a0;
    text-decoration: none;
}

a:visited{
    font-family: monospace;
    color: #0136a0;
    text-decoration: none;
}

div.menu{
    width: 100%;
    height: auto;
    text-align: center;
}




ul.menu-list{
    padding-top: 14px;
    padding-left: 15px;
}

li.menu-list{
    display: inline;
    text-transform: capitalize;
    font-size: 18;
    font-family: monospace;
    margin: 0px 50px 0px 90px;
    border-bottom: 0px solid #0136a0;
    font-weight: bold;
}

li.menu-list:hover{
    border-bottom: 3px solid #0136a0;
    color:#0136a0;
    transition: .1s;
    transition-timing-function: cubic-bezier(.51, .23, .74, 1.52);
}

#middle{
background-color: #ffffff;
width: 100%;
float: left;
height: 100%;
}

#contenuto{
font-family: monospace;
font-size: 12px;
color: #000000;
background-color: #74bdf8;
width: 100%;
}




